.error {
  padding: 10px 0 10px 16px;
  color: red;
}

.pagination-paper {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  padding: 0 0 !important;
}

.auth-error {
  color: red;
  padding: 5px 0;
}

.instruction {
  padding: 0 20px;
  margin: 10px 0 0 0;
}
